/* nav css start from here  */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #2c3e50;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
}

nav a {
  float: left;
  display: block;
  color: #ecf0f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
  background-color: #3498db;
  color: #fff;
}

nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #3498db;
  transition: width 0.3s;
}

nav a:hover::after {
  width: 100%;
}

/* nav css end from here  */