<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('Common/Navbar') %>
    <h1>THIS IS ABOUT PAGE</h1>
    <% 
    data.forEach(e=>{%>
     <li>
        <%=e%>
    </li>

    <%}) %>
</body>
</html>