<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/Home.css">
</head>
<body>
    <%- include('Common/Navbar') %>
    <h1>THIS IS THE HOME PAGE</h1>
    <h2>Created by EJS ENGINE</h2>
    <h3> My name is <%=name %> </h3>

    <p> I am from <%=address%></p>
    <!-- <a href="./About">ABOUT</a> -->
    <img src="/images/download.png" alt="">
</body>
</html>